# Demand Estimation in R
## Advanced Quantitative Marketing - Arjun Gopinath

In this Jupyter notebook, I display all relevant results from Assignment 1.

In [1]:
library(bayesm)
library(ggplot2)
library(data.table)

In [6]:
my_data <- read.delim("pbout.txt",  sep="", header=TRUE)

In [7]:
head(my_data)

  panelid date  choice price     feature display loyalty
1 8007925 12082 9      0.1411111 0       0       0
2 8007925 12082 9      0.1377778 0       0       0
3 8007925 12082 9      0.1353571 0       0       0
4 8007925 12082 9      0.1468750 0       0       0
5 8007925 12082 9      0.1327778 0       0       0
6 8007925 12082 9      0.1332143 0       0       0